.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:1rem;
}

.counter button{
    display: flex;
    align-items: center;
    justify-content: center;
    width:48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #bbb;
    color:#000;
    font-weight: bold;
    font-size: 1.2rem;
    margin:0.5rem;
}

.counter .counterValue{
    width:60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #000;
}